<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection Page</title>
    <style type="text/css">
        #centerLayer {
            width: 600px; /* Ширина слоя в пикселах */
            margin: 0 auto; /* Отступ слева и справа */
            background: #acff85; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
            text-align: start; /* Выравнивание содержимого слоя по левому краю */
        }
    </style>
</head>
<body>
<h2>
<div id="centerLayer">
    <div class="" >
        <p><a href="/analyticalInf">Аналитическая информация (ROLE_ADMIN)</a></p>
        <p><a href="/addContact">Действие с контактом</a></p>
        <p><a href="/addGroup">Действие с группой</a></p>
        <p><a href="/listUsers">Действие с users (ROLE_ADMIN)</a></p>
        <p><a href="/logout.jsp">Logout</a></p>
    </div>
</div>
</h2>
</body>
</html>