<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Contacts Group</title>
    <style type="text/css">
        #centerLayer {
            width: 400px; /* Ширина слоя в пикселах */
            margin: 0 auto; /* Отступ слева и справа */
            background: #acff85; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
            text-align: start; /* Выравнивание содержимого слоя по левому краю */
        }
    </style>
    <script>
        function validate() {
            var  valid = true;
            var name = document.getElementById("group");
            if (name.value == ''){
                alert("Введите название группы");
                valid = false;
            }
            return valid;
        }
    </script>
</head>
<body>
<div id="centerLayer">
    <form action="/getContactsGroup" method="POST" onsubmit="return validate();">
        Название группы: <input type="text" name="gro" id="group" placeholder="Введите название"/><br/>
        <p></p>
        <input type="submit" name="getContacts" value="SHOW CONTACTS" aria-controls="gfg"/><br/>
        <p></p>
        <p><a href="/addGroup">Назад</a></p>
    </form>
</div>
</body>
</html>